# Importando bibliotecas

In [ ]:
import pandas as pd
%load_ext google.colab.data_table

## Teoria

## Axis

In [ ]:
1 é na coluna
2 é na linha

# Comandos úteis

In [ ]:
# Conta quantos itens de cada tipo tem dentro de uma série
df['coluna_desejada'].value_counts()

# Diz quantas linhas e colunas tem um DF
df.shape 

# Diz qual o tipo 
df.info() # DF
df.dtypes # Série

# Mostra o nomes das colunas de um datafram
df.columns

#Faz média e mediana dos valores 
df.describe() 

#Joga fora as linhas NaN (que não tem valores)
df.dropna() 

# Faz a soma de quantos valores nulos (NaN) tem dentro do DataFrame
df['coluna_desejada'].isnull().sum()

# Filtra os valores nulos (NaN) do DF
df[df['coluna_desejada'].isnull()]

# Resetando o index pra números
df = df.reset_index()

# Verificando se os itens de uma série aumentam ou diminiuem estritamente 
df_list['Net Income'].is_monotonic_decreasing 
df_list['Net Income'].is_monotonic_increasing

# Importando um Dataframe

In [ ]:
# Importando CSV de uma url (dando nome do header)

user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
df = pd.read_csv('http://bit.ly/movieusers', sep='|', header=None, names = user_cols)

# Importando CSV de um localização do Google Drive
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/us_companies.csv')

# Se quiser abrir determinando quais são os index
pd.read_csv('processed.csv', index_col='o_index_desejado')

In [ ]:
#Ex: Fazendo tudo ficar Uppercase
df.columns = [x.lower() for x in df.columns]

#Mudando apenas nomes específicos :)
df.rename(columns={'occupation': 'profissão', 'age': 'idade'}, inplace=True) #ou põe o inplace ou joga isso em uma variável

In [ ]:
# Importando uma tabela em um HTML 
url = 'https://en.wikipedia.org/wiki/Help:Table'
df_table = pd.read_html(url)

df_table[15]

### Passando o Header antes

In [ ]:
#Passando todos os valores

df_cols = ['Nome', 'Idade', 'Sexo', 'Ocupação', 'CEP']
df.columns = df_cols

#Trocando apenas alguns
df = df.rename(columns = {"a":"c", "b": "d"})

##### Trocando vários itens ao mesmo tempo em um header

In [ ]:
df.columns = df.columns.str.replace('I', 'Txengas')
# Vai trocar todos os Is por Txngas no Header

# Exportando DataFrame

In [ ]:
# Exportando Arquivo CSV How

df.to_csv('arquivo.csv', index=False) #Não inclui os index

# Exportando CSV para localização 

df.to_csv('/content/drive/My Drive/Colab Notebooks/us_companies.csv', index=False)


# Criando [Colunas e Linhas] com dados do DataFrame

Dica: Sempre que fizer um slice de um DF maior pra um menor faça (.copy)

df_menor = df_maior.copy()

In [ ]:
# Criando uma coluna com a soma do user_id com a idade
df['Soma'] = df['user_id'] + df['age']

# Criando uma coluna com o sexo junto com a ocupação
df['Sexocupation'] = df['occupation'] + ', ' + df['gender']

In [ ]:
# Criando linhas
df.append('user_id':'2503', ignore_index=True) #aqui ou vc preenche todas as colunas ou usa esse ignore index que poe o NaN

# Deletando linhas e colunas

In [ ]:
# Apagando colunas
df = df.drop(['Sexocupation','Soma'], axis=1)

#Apagando linhas
df = df.drop(2, axis=0)
df = df.drop([0,1], axis = 0)

# Mudando valores de Linhas e colunas

## Mudando o valor das linhas

### Removendo um caracter de TODAS as linhas

In [ ]:
# Removendo uma palavra 
df['idade'] = df['idade'].str.replace('Deu',"")
df

# Replace 

#Trocando números 
df['user_id'] = df['user_id'].replace({2:3 , 4:788})

### Mudando valores individuais

In [ ]:
# Mudando o valor da idade de tudo index zero 

df.loc[:, ['idade']] = ['Deu ruim']

# Mudando todos os dados pra upper case
# No caso eu seleciono o valor e digo o que ele vai virar 
df['profissão'] = df['profissão'].str.upper()

# Sorting 
Atenção, ele não muda a ordem. 
Se quiser fazer isso tem que mandar o *inplace *

In [ ]:
#Acendente alfabética
df.sort_values(by=['Coluna'], inplace=True)

#Descendente alfabética
df['age'].sort_values(by=['Coluna'], ascending=False)

## Mantendo o Dataframe completo no lugar mas fazendo o sorting

In [ ]:
df.sort_values('age')

# Filtrando dados de um DataFrame

##### Dica: Pra usar End é "&" e Or é "|"

## Selecionando colunas (séries)

In [ ]:
#Individual 

df['user_id'] #ou 
df.user_id

# Selecionando um "Filtered Down" DataFrame (um dataframe menor dentro do grande)
df[['user_id','age']] # tem que ter os dois brackets obrigatóriamente pois é uma lista dentro de uma lista

## Selecionando Linhas

###### Selecionando linhas pelos Labels

In [ ]:
df.loc[ 0, 'age']
df.loc[[0,3],['age','user_id']] #Pega os itens individuais 0 e 3 e Age e user ID
df.loc[0:3, 'age':'user_id'] #Faz lista de tudo de 0 a 3 e Age até User_Id

   age  user_id
0   24        1
1   53        2

Jeito Rápido

In [ ]:
# Simples
df.[df.Ticker = 'AA']
df[df['Ticker'] == 'Qualquer Coisa']

# Multiplas condições
df[ (df['Coluna_1'] == False) & (df['Coluna_2'] > 2) ]

# Filtrando  os NaN
filtered_df = df[df['var2'].isnull()]

In [ ]:
# Filtrando na minha tabela todo mundo que é homem 

# Jeito Certo
# 1 - Crio um filtro

filtro = (df_merged['MS'] == False) & (df_merged['MBI'] == False) & (df_merged['MB']) & (df_merged['CNN'] == False)

# 2 - Aplico ele no DataFrame 
df = df_merged.loc[filtro]

df.loc[filtro, ['zip_code', 'gender']] # Mostra o dataframe apenas com os filtrados / No caso o zip de todos os homens

# Contra-Filtro 
df.loc[~filtro] # Vai me dar o DF de todas as mulheres que não são estudantes

## Criando Filtro com vários dados desejados

In [ ]:
# Crio uma lista com os dados que eu quero 
profession = ['educator', 'student', 'writer']

# Crio o filtro 
filtro = (df['occupation'].isin(profession)) & (df['age'] > 30)

# Puxo o DF com o filtro aplicado 
df.loc[filtro]

## Fazendo um filtro de string (str) dentro da célula da série

In [ ]:
#Dentro da célula ele vai olhar se tem a expressão 'ech' e vai puxar o filtro 
filtro = df['occupation'].str.contains('ech')
df.loc[filtro]

## Filtrando Duplicatas

### Contando e Separando

In [ ]:
# Somando quantidade [Série]
df['Coluna'].duplicated().sum()

# Se eu aplicar esse método em um Dataframe inteiro ele me fala quais as rows repetidas (todos os valores repetidos)

# Filtrando valores
df.loc[df['Coluna'].duplicated(keep='first'), :] # : = todas as colunas
\
# Se eu usar o parâmetro keep = first/last eu falo pra ele filtrar só os valores repetidos posteriores
# False mostra todos os repetidos

### Deletando

In [ ]:
df.drop_duplicates(keep='first')

# Aplicando Funções e Iterando sobre o DF

## Apply

In [ ]:
# Apply (em uma série)

# Nesse caso eu faço uma função (que aqui pega um valor e soma)
def update_value(value):
  return value + 1 

# Aí eu pego aquela função e aplico em cada uma das linhas 
df['user_id'] = df['user_id'].apply(update_value) #cuidado pra não usar parenteses no final 
# Interessante pra fazer com lambda functions

In [ ]:
### O apply pra dataframes é legal pra saber por exemplo qual o maior item de uma coluna. Se precisar disso assista o vídeo do DataSchool sobre apply (explica bem)

## ApllyMap

In [ ]:
# Aplicando uma função em todos os elementos INDIVIDUAIS de um dataframe 
# Exemplo: Transforma TODOS os itens (desconsiderando o header) de um dataframe em float 
df = df.applymap(float)

# Inteiro pra strings
df = df.applymap(str)

## Aplicando Métodos String em uma Série

### Pra aplicar um método STR em uma Série de um Datraframe eu preciso dizer pro pandas que é um str
> O ideal é transformar os dtypes pra StringDtype 
>> Documentação https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

In [ ]:
# Tudo em maísculos
df['Coluna'].str.upper() 

# Verificar se tem ou não uma palavra ou frase dentro de uma série
df[df['Coluna'].str.contais('Galinha')] # Filtra apenas o que tem galinha na série 

# Pode usar junto
df['Coluna'].str.upper().replace('[','').replace(']','')

## Usando lambdas

In [ ]:
print(df.apply(lambda row: row["Ticker"] + " " + str(row["BS"]), axis = 1))

# Funções úteis prontas

## Filtrando strings pelo tamanho

In [ ]:
# Seleciona no dataframe os itens daquela coluna maiores ou menores que um valor 
df[df['Ticker'].map(len) > 4]

### Transformando um DF pra um dicionário

In [ ]:
# Transformando cada linha em um dicionário dentro de uma lista
df_dict = df_slice.to_dict('records')

# Transformando cada linha em um dicionário que transforma os Indexes em Keys
df_dict = df_slice.to_dict('index')

# Unindo 2 Dataframes

In [ ]:
# Concat / Apenas junta um no outro sem considerar se tem itens iguais
# Passo uma lista pra ele e decido se é vertical ou horizontal 
#[Data School nunca usa o Append por ser limitado em funções]

df = pd.concat([df1, df2])
df = df.reset_index(drop=True) # Reseta os Indexes pra juntar tudo começando do zero

In [ ]:
# Merge  / Junta os itens levando em consideração uma coluna 
#(Data School nunca usa o Join por ser limitado em funções)

df_resultado = pd.merge(df_1, df_2, how='inner')
df_resultado = pd.merge(df_1, df_2, how='outer')

# Se eu quiser unir apenas por 1 das colunas 
df_resultado = pd.merge(df_1, df_2, on=['Coluna_de_União','Coluna_de_União_2'])

# Se o nome das colunas não bater, posso fazer na mão 
df_resultado = pd.merge(df_1, df_2, left_on=['nome_respectivo_df1'], right_on=['nome_respectivo_df2'])

# Se quiser fazer o merge pelos indexes
df_resultado = pd.merge(df_1, df_2, left_index=True, right_index=True)

# Se quiser por nome nos indicadores de colunas

df_resultado = pd.merge(df_1, df_2, on=['Whatever'], suffixes=('_left', '_right')) 
df_merged = pd.merge(df_tb, df_guru, how='outer', on = 'Ticker', indicator=True, suffixes=('_TB', '_Guru'))

#### Explicando os Hows

1.   Inner = Só faz as mesclagens se ambos os itens estiverem em ambos os dataframes (joga o resto fora) 
2.   Outter = Tudo é jogado no novo dataframe. Se tiver informações que não tem dados ele põe um NaN
3. Left = as informações de DF1 são mantidas se tiver ou não. As de DF2 jogadas fora.
4. Right = Contrário de Left

In [ ]:
# Juntando dados que tem datas 
df_merge_asof = pd.merge_asof(trades, quotes, on='time', by='ticker')

# É interessante pq ele pega tempos parecidos. Não precisa ser o exato mesmo valor pra ele identificar
df_merge_asof_tolerance = pd.merge_asof(trades, quotes, on='time', by='ticker', tolerance=pd.Timedelta('2ms'))

# Comparando Dataframes

In [ ]:
import pandas as pd
 
df1 = pd.DataFrame({'City': ['New York', 'Chicago', 'Tokyo', 'Paris','New Delhi'],
                     'Temp': [59, 29, 73, 56,48]})
 
df2 = pd.DataFrame({'City': ['London', 'New York', 'Tokyo', 'New Delhi','Paris'],
                     'Temp': [55, 55, 73, 85,56]})

## Encontrando Itens em Comum nas Duas (Estão em 1 e no outro)

In [ ]:
df = pd.merge(df1, df2, how='inner', indicator=False)
df

    City  Temp
0  Tokyo    73
1  Paris    56

## Encontrando LINHAS exclusivas de um (Linhas de df1 que não estão em df2)

In [ ]:
df = pd.merge(df1, df2, how = 'outer', indicator=True).loc[lambda x : x['_merge']=='left_only']
df

# Aqui eu faço a união dos dois DF criando uma coluna que indica sua origem
# Depois eu filtro apenas as linhas dos que vieram da esquerda (ou da direita)

        City  Temp      _merge
5     London    55  right_only
6   New York    55  right_only
7  New Delhi    85  right_only

## Descartando a intersecção (jogando fora todos o itens repetidos em ambos)

In [ ]:
pd.concat([df1,df2]).drop_duplicates(keep=False)

        City  Temp
0   New York    59
1    Chicago    29
4  New Delhi    48
0     London    55
1   New York    55
3  New Delhi    85

## Encontrados todos os valores em uma coluna de DFs que não são comuns em ambos

In [ ]:
set(df1['Temp']).symmetric_difference(df2['Temp'])

{29, 48, 55, 59, 85}